



.post-categories{
    display: flex;
}

.post-categories li{
    list-style-type: none; 
    border: solid 2px black;
    border-radius: 25px;
    padding: 5px 10px;
    margin: 0px 10px;
}
.post-categories li:hover a{
    text-decoration: none;
}

.post__meta .avatar{
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}